[Unit]
Description=UE Controller application
After=network.target

[Service]
User=root
WorkingDirectory=/root/ffmpeg-stream/ue_controller
Environment=FFMPEG_CMD="ffmpeg -re -stream_loop -1 -i /media/video1.mp4 -vf 'fps=3'  -b:v 100M  -maxrate 1000M -bufsize 50M -f rtsp rtsp://localhost:8554/compose-rtsp"
ExecStart=/usr/bin/python3 /root/ffmpeg-stream/ue_controller/run.py
Restart=no

[Install]
WantedBy=multi-user.target